@charset "UTF-8";
/* fund.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px; /* Increased padding for better spacing */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h1 {
    text-align: center;
    margin-bottom: 20px; /* Added margin for better spacing */
}

form {
    padding: 20px; /* Added padding inside the form */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* Added margin for better spacing */
}

input[type="text"] {
    width: calc(100% - 22px); /* Adjusted width to account for padding and border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

button[type="submit"] {
    background-color: #6222CC;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 50%; /* Set button width to 50% */
    margin: 20px auto; /* Center align and add margin for better spacing */
}

button[type="submit"]:hover {
    background-color: #4E32A8;
}
