<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>ReconnectHer</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body>
     <div class="container-xxl bg-white p-0">
        


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0 d-flex align-items-center">
                 <img class="logo-img" src="img/ReconnectHer.png" alt="Logo" >
                  <h1 class="m-0 ms-2">ReconnectHer</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="#home" class="nav-item nav-link active">Home</a>
                        <a href="#vision" class="nav-item nav-link">Vision</a>
                        <a href="#data" class="nav-item nav-link">Insights</a>
                        <a href="#feature" class="nav-item nav-link">Feature</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a th:href="@{/community}" class="dropdown-item">Community</a>
                                <a th:href="@{/testimonial}" class="dropdown-item">Success stories</a>
                            </div>
                        </div>
                        <a th:href="@{/contactus}" class="nav-item nav-link">Contact</a>
                    </div>
                    <a th:href="@{/registerWomen}" class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Sign Up</a>
                    <a th:href="@{/loginWomen}" class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Log In</a>

                </div>
            </nav>
        <section id="home">
            <div class="container-xxl bg-primary hero-header">
                <div class="container px-lg-5">
                    <div class="row g-5 align-items-end">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="text-white mb-4 animated slideInDown">
                                Turning Career Breaks into Opportunities,
                                Unleash your potential today!</h1>
                            <p class="text-white pb-3 animated slideInDown">Discover your perfect career match with us, tailored to your skills, time, and passion. Stay motivated with success stories of inspiring women. Achieve your dreams with our dedicated support and guidance!</p>
                            <a th:href="@{/loginWomen}" class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Get Started</a>
                            <a th:href="@{/contactus}" class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Contact Us</a>
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid animated zoomIn" src="img/womenimg.png" alt="" >
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Vision Start -->
    <section id="vision">
        
        <div class="container-xxl py-5">
            <br> <br>
            <div class="ourvision">
                <h2>Our Vision</h2>
                <p>Our platform provides the resources and community needed to overcome the unique challenges women face in
                    their careers.</p>
            </div>
            <div class="container py-5 px-lg-5">
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-users text-primary mb-4"></i>
                            <h5 class="mb-3">Diversity and Inclusion</h5>
                            <p class="m-0">Our vision is centered on cultivating diversity and fostering an inclusive workforce where women from all backgrounds thrive.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-bolt text-primary mb-4"></i>
                            <h5 class="mb-3">Driving Impactful Change</h5>
                            <p class="m-0"> By empowering women with the tools, resources, and inspiration they need to excel in their careers.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-arrows-alt text-primary mb-4"></i>
                            <h5 class="mb-3">Flexibility and Empowerment</h5>
                            <p class="m-0">We are dedicated to empowering women to navigate their careers with flexibility and confidence.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- Vision End -->


      <section id="data">
    <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary">Insights<span></span></p>
                    <h1 class="mb-5">Workforce Dynamics of Women in the IT Sector</h1>
                    <p class="mb-4">Our platform, informed by recent survey data, illustrates the effects of career breaks, job quitting, and employment rates for women in IT. Through job suggestions and success stories, we empower women to navigate career breaks, personal priorities, or entrepreneurship.</p>
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Rejoining Percentage</p>
                            <p class="mb-2">15.4%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15.4%;"></div>
                        </div>
                    </div>
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Job Quitting Percentage</p>
                            <p class="mb-2">30.8%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30.8%;"></div>
                        </div>
                    </div>
                    <div class="skill mb-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Employed Women in IT Sector</p>
                            <p class="mb-2">53.8%</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="53.8" aria-valuemin="0" aria-valuemax="100" style="width: 53.8%;"></div>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Read More</a>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="img/newimg.jpg">
                </div>
            </div>
        </div>
    </div>
</section>






        <!-- Feature Start -->
    <section id="feature">
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span>Our Features<span></span></p>
                    <h1 class="text-center mb-5">What Solutions We Provide</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-user-friends fa-2x"></i>
                            </div>
                            <h5 class="mb-3">One-to-One Mentorship</h5>
                            <p class="m-0">Get personalized guidance and support from experienced mentors.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-users fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Communities</h5>
                            <p class="m-0">Join communities of like-minded women for networking and support.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-lightbulb fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Support Entrepreneurship</h5>
                            <p class="m-0">Access resources and support for starting and growing your own business.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-book fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Success Stories</h5>
                            <p class="m-0">Read inspiring stories of women who have successfully rejoined the workforce and achieved their goals.</p>
                            <br>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-2x fa-road text-white mb-4"></i>
                            </div>
                            <h5 class="mb-3">Personalized Career Path</h5>
                            <p class="m-0">Explore resources and support tailored to your career goals, whether it's starting your own
                                business or advancing in your profession.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-2x fa-search text-white"></i>
                            </div>
                            <h5 class="mb-3">Job Openings</h5>
                            <p class="m-0">Find job openings that match your skills and career aspirations.</p>
                            <br> <br>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- feature End -->


        <!-- message Start 
        <div class="container-xxl bg-primary newsletter py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center">
                        <p class="section-title text-white justify-content-center"><span></span>Leave Message<span></span></p>
                        <h1 class="text-center text-white mb-4">Stay Always In Touch</h1>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Enter Your Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        message End -->


        


        
        

        <!-- Footer Start -->
        <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-3">
                        <p class="section-title text-white h5 mb-4">Contact Us<span></span></p>
                        <p><i class="fa fa-phone-alt me-3"></i>+91 395 67660</p>
                        <p><i class="fa fa-envelope me-3"></i>reconnecther@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3"  style="margin-left: 180px;">
                        <p class="section-title text-white h5 mb-4">Quick Link<span></span></p>
                        <a class="btn btn-link" th:href="@{/index}">About Us</a>
                        <a class="btn btn-link" th:href="@{/community}">Community</a>
                        <a class="btn btn-link" th:href="@{/testimonial}">Success-Story</a>
                        <a class="btn btn-link" th:href="@{/contactus}">Contact Us</a>
                    </div>
                    <div class="col-md-6 col-lg-3" style="margin-left: 100px;">
                        <p class="section-title text-white h5 mb-4">Success Stories<span></span></p>
                        <div class="row g-2">
                            <div class="col-4">
                                <img class="img-fluid" src="img/portfolio-1.jpg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="img/portfolio-2.jpg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="img/portfolio-3.jpg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="img/portfolio-4.jpg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="img/portfolio-5.jpg" alt="Image">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="img/portfolio-6.jpg" alt="Image">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            <p>&copy; 2024 ReconnectHer. All rights reserved.</p>	
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>